body{
	font-family: roboto;
}

/*Navigation*/
nav{
	background: #021428;
	width: 1340px;
	height: 90px;
}

a{
	line-height: 4;
	color: white;
	font-weight: bolder;
	text-decoration: none;
	margin-left: 20px;
}

a:hover{
	color: yellow;
}

a.active{
	color: lime;
}

img#logo{
	height: 85px;
	margin-left: 202px;
	margin-right: -125px;
	margin-top: -5px;
}

/*Slideshow*/
img#slideshow{
	border-bottom: 10px solid #021428;
	width: 1340;
}