body{
	font-family: roboto;
}

/*Navigation*/
nav{
	background: #021428;
	width: 1350px;
	height: 90px;
}

a{
	line-height: 4;
	color: white;
	font-weight: bolder;
	text-decoration: none;
	margin-left: 20px;
}

a:hover{
	color: yellow;
}

a.active{
	color: lime;
}

img#logo{
	height: 70px;
	margin-left: 202px;
	margin-right: 5px;
	margin-top: 5px;
}

/*Slideshow*/
img#slideshow{
	border-bottom: 10px solid #021428;
	width: 1350px;
}

/*Homepage Content*/
section#paragraph{
	margin: 20px;
	width: 1310px;
}

/*Services Page*/
h1#page-title{
	margin-left: 202px;
	color: #021428;
}

/*Footer*/
footer{
	margin-top: 60px;
	background: #021428;
	width: 1350px;
	height: 80px;
	color: white;
}

p#footer-text{
	line-height: 5;
	text-align: center;;
}